# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
.idea/
*.ipr
*.iws
.vscode/
*.swp
*.swo
*~
.DS_Store
Thumbs.db

# Android
*.iml
.gradle/
local.properties
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries/
*.jks
*.keystore

# Firebase
google-services.json.bak
firebase_app_id_file.json
